In [9]:
#16,3
info = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""
with open('books.csv', 'w', encoding='utf-8-sig') as file:
    file.write(info)

In [21]:
#16.4
import sqlite3

connection = sqlite3.connect('books.db');
cursor = connection.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')
connection.commit()
connection.close()

In [ ]:
#15.5
import csv
with open('books2.csv', 'r', )

In [6]:
#16.6
cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()
for title in titles:
    print(title[0])

In [7]:
#16.8
import sqlalchemy as sa
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
Base = declarative_base()
class Book(Base):
    __tablename__ = 'books'
    id = sa.Column(sa.Integer, primary_key=True)
    title = sa.Column(sa.String)
    author = sa.Column(sa.String)
    year = sa.Column(sa.Integer)